<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="androidbook.ch04"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".IntentTestActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TargetActivity" />
        <activity android:name=".WithExtraActivity" />
        <activity android:name=".WithResultActivity" />
        <activity android:name=".SendResultActivity" />
        <receiver android:name=".BReceiverSample" android:enabled="true">
            <intent-filter>
                <action android:name="androidbook.ch04.action.BROADCAST_TEST"></action>
            </intent-filter>
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="8" />
</manifest>
